{% extends 'base.html' %}
{% block content %}

<h1>{{ movie.title }} Info</h1>

Rate this movie on a scale of 1 to 5:
<form action='/rating-processed' method="POST">
  <input type="number" name="rating" placeholder="1-5" min="1" max="5">
  <input type="hidden" name="movie-id" value="{{ movie.movie_id }}">
  <input type="submit">
</form>

{% if movie.ratings %}

<div>
 <h3>Movie Ratings:</h3>
  <ul>
    {% for rating in movie.ratings %}
      <li>
        <b>User {{ rating.user_id }}:</b> <br>
        &nbsp;&nbsp;Score: {{ rating.score }} <br>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock %}


 